
      <!-- #Left Sidebar ==================== -->
      <div class="sidebar">
        <div class="sidebar-inner">
          <!-- ### $Sidebar Header ### -->
          <div class="sidebar-logo">
            <div class="peers ai-c fxw-nw">
              <div class="peer peer-greed">
                <a class="sidebar-link td-n" href="index.html">
                  <div class="peers ai-c fxw-nw">
                    <div class="peer">
                      <div style="text-align:center;width:250px;height:120px;"><img src="/static/logo.png" style="text-align:center;width:250px;height:120px;" alt=""></div>
                    </div>
                    
                  </div>
                </a>
              </div>
              <div class="peer">
                <div class="mobile-toggle sidebar-toggle">
                  <a href="" class="td-n">
                    <i class="ti-arrow-circle-left"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <!-- ### $Sidebar Menu ### -->
          <ul class="sidebar-menu scrollable pos-r">

            <li class="nav-item mT-30 actived">
              <a class="sidebar-link" href="index.html">
                <span class="icon-holder">
                  <i class="c-blue-500 ti-home"></i>
                </span>
                <span class="title">District-wise prediction</span>
              </a>
            </li>

            <li class="nav-item mT-30 actived">
              <a class="sidebar-link" href="/correlation.html">
                <span class="icon-holder">
                  <i class="c-blue-500 ti-home"></i>
                </span>
                <span class="title">Correlation</span>
              </a>
            </li>

            <li class="nav-item mT-30 actived">
              <a class="sidebar-link" href="/bar">
                <span class="icon-holder">
                  <i class="c-blue-500 ti-home"></i>
                </span>
                <span class="title">Statistical visualization</span>
              </a>
            </li>

            <li class="nav-item mT-30 actived">
              <a class="sidebar-link" href="/stats.html">
                <span class="icon-holder">
                  <i class="c-blue-500 ti-home"></i>
                </span>
                <span class="title">Machine Learning Models</span>
              </a>
            </li>

            <li class="nav-item mT-30 actived">
              <a class="sidebar-link" href="/table.html">
                <span class="icon-holder">
                  <i class="c-blue-500 ti-home"></i>
                </span>
                <span class="title">Tabular visualization</span>
              </a>
            </li>

            
             
            <li class="nav-item mT-30 actived">
              <a class="sidebar-link" href="/india_line">
                <span class="icon-holder">
                  <i class="c-blue-500 ti-home"></i>
                </span>
                <span class="title">Impact on India</span>
              </a>
            </li><br>

               <li class="nav-item dropdown">
              <a class="sidebar-link" href={{ url_for('logout') }}>
                <span class="icon-holder">
                    <i class="ti-power-off mR-10"></i>
                  </span>
                <span class="title">Logout</span>
              </a>
            </li>            
          </ul>
        </div>
      </div>
